<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/signin.css">
    <title>Sign Up</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-img-left d-none d-md-flex">
                        logo
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Sign In</h5>

                        <!-- starting of form -->
                        <form class="form-signin" action="/signin" method="POST">
                            <div class="form-group">
                                <input type="text" name="inputUserame" class="form-control" placeholder="Username"
                                    required>
                                <label for="inputUserame">Username</label>
                            </div>

                            <div class="form-group">
                                <input type="email" name="inputEmail" class="form-control" placeholder="Email address"
                                    required>
                                <label for="inputEmail">Email address</label>
                            </div>

                            <hr>

                            <div class="form-group">
                                <input type="password" name="inputPassword" class="form-control" placeholder="Password"
                                    required>
                                <label for="inputPassword">Password</label>
                            </div>

                            <div class="form-group">
                                <input type="password" name="inputConfirmPassword" class="form-control"
                                    placeholder="Password" required>
                                <label for="inputConfirmPassword">Confirm password</label>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase"
                                type="submit">Register</button>
                            <a class="d-block text-center mt-2 small" href="/signin">Sign In</a>
                            <hr class="my-4">
                        </form>
                        <!-- ending of form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>